* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  height: auto;
  width: 100vw;
}

.stats-cont {
  height: 350px;
}

.navbar-cont {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
}